:root{
    --formBackgroundColor: rgba(100,100,100,0.8);
    --closeButtonColor: #424242;
    --closeButtonHoverColor: #dedede;

}

#formBackground {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--formBackgroundColor);


}

#formArea {
    position: fixed;
    left: 25%;
    width: 50%;
    height: 70%;
    top: 20%;
    z-index: 101;
    background-color: lime;
}

#closeButton {
    position: absolute;
    background-color: var(--closeButtonColor);
    border-radius: 50%;
    top: -1.5vw;
    right: -1.5vw;
    width: 3vw;
    height: 3vw;
    z-index: 102;
    font-size: larger;
    color: white;
    border-color: var(--closeButtonColor);
    
    font-weight: bold;

}

#closeButton:hover {
    background-color: var(--closeButtonHoverColor);
    
}